[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
example = "*"
keras = "*"
tensorflow = "*"
matplotlib = "*"
jupyterlab = "*"
keras-rl = "*"

[dev-packages]

[requires]
python_version = "3.10"
